@if (Session["IdUser"] != null && ((string)Session["IdUser"]) != "")
{
    using (Ajax.BeginForm("GuardarComentario", "App", new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "mensajeRegistro",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loader"
    }, new { @style = "display: block;" }))
    {
        <div class="row">
            <div class="col-md-12">
              

                    <label for="comment">Nuevo Comentario:</label>
                    <textarea class="form-control" rows="5" style="resize:none; width:100%; max-width:100%;" name="Comentario" id="Comentario"></textarea>
                    <br />
                    <input type="hidden" name="Id_Publicacion" value="@ViewBag.IdPublicacion" />
                    <input type="submit" id="ComentarioGu" class="btn btn-success" style="float:right;" name="ComentarioGu" value="Guardar" />
                    <br />

            </div>
        </div>
    }

}

