<div class="row">
    <div class="col-6 col-sm-6 col-md-6 col-lg-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="#">Analista Programador .NET</a>
                </h5>
                <p class="card-text">Providencia, Región Metropolitana</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="#">Analista Programador .NET</a>
                </h5>
                <p class="card-text">Las Condes, Región Metropolitana</p>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        @Html.Partial("App/_FileUpload")
    </div>
</div>