<div class="jumbotron" id="jumbotron">
    <div class="container text-center">
        <div id="informacionInicio">
            <h1>Empleos Chile</h1>
            <p><b>Más que una compañia, somos tu camino hacia el éxito.</b></p>

        </div>
        <br />
        <br />
        <div id="informacionInicio2">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
                @Html.Partial("App/_Filtros")
            </div>
        </div>
    </div>
</div>
