<div class="modal-header">
    <div class="d-block"><h3>Responda a estas preguntas</h3></div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

</div>
<div class="modal-body">

    <div id="preguntasSinDescripcion">

    </div>

    <div id="preguntasConDescripcion">

    </div>
    <br />
    <div id="divBotonEnviar">
        <div class="col-md-12" id="divEnviar">
            <input type="button" id="btnEnviarPreguntas" class="btn btn-success btn-block" style="float:right;" name="btnEnviarPreguntas" value="Guardar" />
        </div>
    </div>

</div>
