<div class="modal-header">
    <div class="d-block"><h3>Nuevo mensaje</h3></div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

</div>
<div class="modal-body">
   
            <div class="form-group">
                <input type="hidden" id="idEmpresa" name="idEmpresa" value="@ViewBag.referenciaIdEmpresa" />
                <input type="hidden" name="valor" id="valor" value="1" />
                <input type="text" class="form-control" id="nombreEmpresa" name="nombreEmpresa" value="@ViewBag.referenciaNombreEmpresa" readonly />
            </div>

            <br />
            <div class="form-group">
                <textarea class="form-control" name="mensajeEmpresa" placeholder="Ingrese un mensaje" maxlength="2000" id="mensajeEmpresa" style="min-height:250px; max-height:250px;"></textarea>
            </div>
            <br />
            <div class="form-group">
                <button type="button" class="btn btn-success btnGuardarMensaje">Enviar</button>
            </div>

</div>