<div class="modal-header">
    <div class="d-block"><h3>Responda a estas preguntas</h3></div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

</div>
<div class="modal-body">
    <input type="hidden" name="idPublicacionPreguntas" id="idPublicacionPreguntas" />
    <div class="md-form form-sm">
        <i class="fas fa-pencil-alt prefix" style="margin-top: 4px;"></i>
        <input type="text" id="Disponibilidad" name="Disponibilidad" autocomplete="off" class="form-control">
        <label for="titulo">Disponibilidad</label>
    </div>
    <div class="md-form form-sm">
        <i class="fas fa-dollar-sign prefix" style="margin-top: 4px;"></i>
        <input type="text" id="Sueldo" name="Sueldo" autocomplete="off" class="form-control">
        <label for="titulo">Sueldo Liquido</label>
    </div>
    <div class="form-group">
        <textarea class="form-control" name="descripcionEmpleo" placeholder="Ingrese una breve descripción" maxlength="2000" id="descripcionEmpleo" style="min-height:250px; max-height:250px;"></textarea>
    </div>
    <br />
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input name="cv_adjuntar" id="cv_adjuntar" type="checkbox" value="1"> Enviar mi curriculum vitae adjunto.
            </label>
        </div>
    </div>
    <br />
    <div id="divBotonEnviar">
        <div class="col-md-12" id="divEnviar">
            <button type="button" class="btn btn-success btn-block btnEnviarPreguntasDesa">Guardar</button>
        </div>
    </div>
    <br />
    <div class="errorEnviarPreguntas"></div>
</div>
