
@{
    ViewBag.Title = "PerfilEmpresaLectura";
    Layout = "~/Views/Shared/_HeaderMenu.cshtml";
}

<div id="ViewDetallePerfil" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    @Html.Partial("App/_DetallePerfil")
</div>
