<div class="row">
    <div class="col-md-12">
        @if (ViewBag.referenciaFiltroSeleccionado != null)
        {
            <h3>Filtro seleccionado: @ViewBag.referenciaFiltroSeleccionado</h3>
        }
        else
        {
            <h3>Busca el oficio que más se adecue a tus necesidades.</h3>
        }

        <table class="table">

            <tr>
                @*<td style="vertical-align:middle;">
                        <div class="md-form form-sm" style="margin: auto;">
                            <input type="text" id="nombreOficioB1" name="nombreOficioB1" class="form-control soloLetras" style="font-family: 'Roboto', sans-serif;" maxlength="100" tabindex="2" autocomplete="off" />
                            <label for="oferta">Ingrese busqueda</label>
                        </div>

                    </td>*@

                <td style="vertical-align:middle;">
                    <div class="form-group">

                        <select class="mdb-select md-form" name="oficioB1" id="oficioB1" searchable="Buscar Oficio..">
                            <option disabled selected value="0">Seleccione oficio</option>
                            @if (ViewBag.ReferenciaOficios != null)
                            {
                                foreach (Model.Models.Oficios item in (List<Model.Models.Oficios>)ViewBag.ReferenciaOficios)
                                {
                                    <option value="@item.IdOficio">@item.NombreOficio</option>
                                }
                            }
                        </select>

                    </div>

                </td>
                <td style="vertical-align:middle;">
                    <a href="javascript:void(0);" id="buscarFiltrosOficio" class="btn btn-success btn-block p-2 shadow rounded-pill"><i class="fa fa-eye"></i> BUSCAR</a>
                </td>
            </tr>
        </table>
        @using (Ajax.BeginForm("OficiosUsuarioFiltro", "Oficios", new AjaxOptions()
        {
            HttpMethod = "POST",
            UpdateTargetId = "ViewDetalleEmpleos",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "loader"
        }, new { @style = "display: none;" }))
        {
            <input type="hidden" name="hiddenNombreOficioB1" id="hiddenNombreOficioB1" />
            <input type="hidden" name="hiddenOficioB1" id="hiddenOficioB1" />
            <button type="submit" style="display:none" id="buscarFiltrosOficio2" class="btn btn-outline-primary form-control"><i class="fa fa-eye"></i> FILTRAR</button>
        }
    </div>


</div>