/**
 *
 *  ARCHIVO CSS CON DECLARACIÓN COMPLETA DE PROPIEDAD
 *  => background-size
 *
 */

.bs-1per {
    background-size: 1%;
}

.bs-2per {
    background-size: 2%;
}

.bs-3per {
    background-size: 3%;
}

.bs-4per {
    background-size: 4%;
}

.bs-5per {
    background-size: 5%;
}

.bs-6per {
    background-size: 6%;
}

.bs-7per {
    background-size: 7%;
}

.bs-8per {
    background-size: 8%;
}

.bs-9per {
    background-size: 9%;
}

.bs-10per {
    background-size: 10%;
}

.bs-11per {
    background-size: 11%;
}

.bs-12per {
    background-size: 12%;
}

.bs-13per {
    background-size: 13%;
}

.bs-14per {
    background-size: 14%;
}

.bs-15per {
    background-size: 15%;
}

.bs-16per {
    background-size: 16%;
}

.bs-17per {
    background-size: 17%;
}

.bs-18per {
    background-size: 18%;
}

.bs-19per {
    background-size: 19%;
}

.bs-20per {
    background-size: 20%;
}

.bs-21per {
    background-size: 21%;
}

.bs-22per {
    background-size: 22%;
}

.bs-23per {
    background-size: 23%;
}

.bs-24per {
    background-size: 24%;
}

.bs-25per {
    background-size: 25%;
}

.bs-26per {
    background-size: 26%;
}

.bs-27per {
    background-size: 27%;
}

.bs-28per {
    background-size: 28%;
}

.bs-29per {
    background-size: 29%;
}

.bs-30per {
    background-size: 30%;
}

.bs-31per {
    background-size: 31%;
}

.bs-32per {
    background-size: 32%;
}

.bs-33per {
    background-size: 33%;
}

.bs-34per {
    background-size: 34%;
}

.bs-35per {
    background-size: 35%;
}

.bs-36per {
    background-size: 36%;
}

.bs-37per {
    background-size: 37%;
}

.bs-38per {
    background-size: 38%;
}

.bs-39per {
    background-size: 39%;
}

.bs-40per {
    background-size: 40%;
}

.bs-41per {
    background-size: 41%;
}

.bs-42per {
    background-size: 42%;
}

.bs-43per {
    background-size: 43%;
}

.bs-44per {
    background-size: 44%;
}

.bs-45per {
    background-size: 45%;
}

.bs-46per {
    background-size: 46%;
}

.bs-47per {
    background-size: 47%;
}

.bs-48per {
    background-size: 48%;
}

.bs-49per {
    background-size: 49%;
}

.bs-50per {
    background-size: 50%;
}

.bs-51per {
    background-size: 51%;
}

.bs-52per {
    background-size: 52%;
}

.bs-53per {
    background-size: 53%;
}

.bs-54per {
    background-size: 54%;
}

.bs-55per {
    background-size: 55%;
}

.bs-56per {
    background-size: 56%;
}

.bs-57per {
    background-size: 57%;
}

.bs-58per {
    background-size: 58%;
}

.bs-59per {
    background-size: 59%;
}

.bs-60per {
    background-size: 60%;
}

.bs-61per {
    background-size: 61%;
}

.bs-62per {
    background-size: 62%;
}

.bs-63per {
    background-size: 63%;
}

.bs-64per {
    background-size: 64%;
}

.bs-65per {
    background-size: 65%;
}

.bs-66per {
    background-size: 66%;
}

.bs-67per {
    background-size: 67%;
}

.bs-68per {
    background-size: 68%;
}

.bs-69per {
    background-size: 69%;
}

.bs-70per {
    background-size: 70%;
}

.bs-71per {
    background-size: 71%;
}

.bs-72per {
    background-size: 72%;
}

.bs-73per {
    background-size: 73%;
}

.bs-74per {
    background-size: 74%;
}

.bs-75per {
    background-size: 75%;
}

.bs-76per {
    background-size: 76%;
}

.bs-77per {
    background-size: 77%;
}

.bs-78per {
    background-size: 78%;
}

.bs-79per {
    background-size: 79%;
}

.bs-80per {
    background-size: 80%;
}

.bs-81per {
    background-size: 81%;
}

.bs-82per {
    background-size: 82%;
}

.bs-83per {
    background-size: 83%;
}

.bs-84per {
    background-size: 84%;
}

.bs-85per {
    background-size: 85%;
}

.bs-86per {
    background-size: 86%;
}

.bs-87per {
    background-size: 87%;
}

.bs-88per {
    background-size: 88%;
}

.bs-89per {
    background-size: 89%;
}

.bs-90per {
    background-size: 90%;
}

.bs-91per {
    background-size: 91%;
}

.bs-92per {
    background-size: 92%;
}

.bs-93per {
    background-size: 93%;
}

.bs-94per {
    background-size: 94%;
}

.bs-95per {
    background-size: 95%;
}

.bs-96per {
    background-size: 96%;
}

.bs-97per {
    background-size: 97%;
}

.bs-98per {
    background-size: 98%;
}

.bs-99per {
    background-size: 99%;
}

.bs-100per {
    background-size: 100%;
}
