.btn-teamwork {
    background-color: #428bca;
}

.btn-teamwork:hover {
    background-color: #4C779B;
    color: #fff;
}

.btn-create {
    background-color: #B703FA;
    color: #fff;
}

.btn-create:hover {
    background-color: #9606CB;
    color: #fff;
}

.btn-anulado {
    background-color: rgb(100, 100, 100);
}

.btn-anulado:hover {
    background-color: rgb(150, 150, 150);
    color: #fff;
}

.btn-disabled {
    background-color: rgb(200, 200, 200);
}

.btn-circle {
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50%;
    cursor: pointer;
}

.btn-circle-micro {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 1px 0;
    font-size: 13px;
    line-height: 0.1;
    border-radius: 30px;
}