.color-70x3 {
    color: rgb(70, 70, 70);
}

.color-fx3 {
    color: #fff;
}

.color-100x3 {
    color: rgb(100, 100, 100);
}

.color-428BCA {
    color: #428BCA;
}

.color-2178379 {
    color: rgb(217, 83, 79);
}

.color-9218492 {
    color: rgb(92, 184, 92);
}

.color-150x3 {
    color: rgb(150, 150, 150);
}

.color-100x3 {
    color: rgb(100, 100, 100);
}

.color-B703FA {
    color: #B703FA;
}

.color-007BFF {
    color: #007bff;
}