
@{
    ViewBag.Title = "CandidatosEmpresa";
    Layout = "~/Views/Shared/_HeaderMenu.cshtml";
}

<div id="ViewCandidatos" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    @Html.Partial("UsuarioEmpresa/_CandidatosEmpresa")
</div>


