@model Model.Models.PublicacionesEmpresa

@{
    ViewBag.Title = "EditarPublicacion";
    Layout = "~/Views/Shared/_HeaderMenu.cshtml";
}

<div id="ViewDetallePublicacion" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    @Html.Partial("UsuarioEmpresa/_DetallePublicacion")
</div>



<!-- MODAL EDICION PUBLICACION -->
<div class="modal fade" id="modalEdicionPublicacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @Html.Partial("UsuarioEmpresa/_ModalEdicionPublicacion")
        </div>
    </div>
</div>

