
@{
    ViewBag.Title = "Configuracion";
    Layout = "~/Views/Shared/_HeaderMenuEmpresa.cshtml";
}

<div id="ViewPreguntas" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    @Html.Partial("Empresa/_PreguntasEmpresa")
</div>

<div class="modal fade" id="modalPreguntaPostulacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            @Html.Partial("Empresa/_ModalPreguntaPostulacion")
        </div>
    </div>
</div>