
@{
    ViewBag.Title = "HistorialMensajes";
    Layout = "~/Views/Shared/_HeaderMenuEmpresa.cshtml";
}

@*<div id="ViewDetalleMensaje" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    @Html.Partial("Empresa/_DetalleMensaje")
</div>*@


<div id="ViewHistorialMensajes" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    @Html.Partial("Empresa/_HistorialMensajes")
</div>

<div id="ViewFormRespuestas" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    @Html.Partial("Empresa/_RepuestasHistorialMensajes")
</div>

