
@{
    ViewBag.Title = "PerfilEmpresa";
    Layout = "~/Views/Shared/_HeaderMenuEmpresa.cshtml";
}

    <div id="ViewDetallePublicacion" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
        @Html.Partial("Empresa/_DetallePerfil")
    </div>