
@{
    ViewBag.Title = "PlanesEmpresa";
    Layout = "~/Views/Shared/_HeaderMenuEmpresa.cshtml";
}
<div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    <h3>Planes de la empresa</h3>
</div>
<div id="ViewPlanesEmpresaTodos" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    <a href="javascript:void(0);" class="btn btn-primary PlanesEmpresa">Ver planes</a>
    <a href="javascript:void(0);" class="btn btn-sm btn-warning" data-toggle="popover" title="Información importante" data-content="Para contratar un nuevo plan, el plan actual debe tener minimo 14 días de uso.">&nbsp;<span class="fas fa-question">&nbsp;</span></a>
</div>
<hr />

<div id="ViewPlanesEmpresa" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    @Html.Partial("Empresa/_PlanesEmpresa")
</div>
