
@{
    ViewBag.Title = "PlanesEmpresa";
    Layout = "~/Views/Shared/_HeaderMenuEmpresa.cshtml";
}
<div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    <h3>Planes de la empresa</h3>
</div>
<div id="ViewPlanesEmpresaTodos" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    <a href="javascript:void(0);" class="btn btn-outline-primary PlanesEmpresa">Ver planes</a>
</div>
<hr />

<div id="ViewPlanesEmpresa" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    @Html.Partial("Empresa/_PlanesEmpresa")
</div>



<div class="modal fade" id="modalPlanesEmpresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @Html.Partial("Empresa/_ModalPlanesEmpresa")
        </div>
    </div>
</div>
