
@{
    ViewBag.Title = "MenuPrincipal";
    Layout = "~/Views/Shared/_HeaderMenuEmpresa.cshtml";
}

<div id="ViewPublicaciones" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    @Html.Partial("Empresa/_Publicaciones")
</div>
<div id="ViewPlanes" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    @Html.Partial("Empresa/_PlanesEmpresa")
</div>