<div class="modal-header">
    <h4 class="modal-title">Iniciar Sesion</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
    <div id="contentLogin">
        @Html.Partial("Auth/_FormLogin")
    </div>
</div>
<div class="modal-footer">¿No tienes una cuenta? <a href="@ViewBag.ReferenciaRegistro">Registrarse</a></div>
