<div class="modal-header">
    <a href="@ViewBag.ReferenciaInicio" class="close">&times;</a>
</div>
<div class="modal-body">
    <div class="d-block text-center">

        <img src="~/Resources/gif/check-circle.gif" style="width: 100px;" />
        <h2>
            <b>Usuario Registrado</b>
        </h2>

        <a href="@ViewBag.ReferenciaInicio" class="btn btn-success" @*data-dismiss="modal"*@>Aceptar</a>
        
    </div>
</div>
