<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="">
        <h5>FORMULARIO DE REGISTRO</h5>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="margin: auto;">
                <div class="md-form form-sm no-margin" style="margin: auto;">
                    <input type="text" id="rut" class="form-control soloRut" style="font-family: 'Roboto', sans-serif;" required maxlength="12" tabindex="1" autocomplete="off" />
                    <label for="rut">Rut</label>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="margin: auto;"></div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="margin: auto;">
                <div class="md-form form-sm" style="margin: auto;">
                    <input type="text" id="nombre1" class="form-control soloLetras" style="font-family: 'Roboto', sans-serif;" maxlength="100" tabindex="2" autocomplete="off" />
                    <label for="nombre1">Nombre</label>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="margin: auto;">
                <div class="md-form form-sm" style="margin: auto;">
                    <input type="text" id="nombre2" class="form-control soloLetras" style="font-family: 'Roboto', sans-serif;" maxlength="100" tabindex="3" autocomplete="off" />
                    <label for="nombre2">Nombre</label>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="margin: auto;">
                <div class="md-form form-sm" style="margin: auto;">
                    <input type="text" id="apellidoP" class="form-control soloLetras" style="font-family: 'Roboto', sans-serif;" maxlength="50" tabindex="4" autocomplete="off" />
                    <label for="apellidoP">Apellido Paterno</label>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="margin: auto;">
                <div class="md-form form-sm" style="margin: auto;">
                    <input type="text" id="apellidoM" class="form-control soloLetras" style="font-family: 'Roboto', sans-serif;" maxlength="50" tabindex="5" autocomplete="off" />
                    <label for="apellidoM">Apellido Materno</label>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="md-form form-sm" style="margin: auto;">
                    <input type="text" id="correo" class="form-control" style="font-family: 'Roboto', sans-serif;" maxlength="50" tabindex="6" autocomplete="off" />
                    <label for="correo">Correo</label>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="md-form form-sm" style="margin: auto;">
                    <input type="text" id="correoRepetir" class="form-control" style="font-family: 'Roboto', sans-serif;" maxlength="50" tabindex="7" autocomplete="off" />
                    <label for="correoRepetir">Repetir Correo</label>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="md-form form-sm" style="margin: auto;">
                    <input type="password" id="passWord" class="form-control" style="font-family: 'Roboto', sans-serif;" maxlength="6" tabindex="8" autocomplete="off" />
                    <label for="passWord">Contraseña</label>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="md-form form-sm" style="margin: auto;">
                    <input type="password" id="passWordRepetir" class="form-control" style="font-family: 'Roboto', sans-serif;" maxlength="6" tabindex="9" autocomplete="off" />
                    <label for="passWordRepetir">Repetir Contraseña</label>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="md-form form-sm" style="margin: auto;">
                    <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="form-control" style="font-family: 'Roboto', sans-serif;" tabindex="10" autocomplete="off" />
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6"></div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="input-group form-group">
                    <input type="checkbox" id="terminos" class="form-check-input" />
                    <span>Acepto <a href="#">Terminos y condiciones</a></span>
                </div>

                <button id="registraUsuario" class="btn btn-primary" style="margin-bottom:10px;" disabled>Registrar</button>
            </div>


        </div>
    </div>
    <br />
    <br />
    <div id="errorRegistro" class="col-12 col-sm-12 col-md-12 col-lg-12"></div>
</div>

<div class="modal fade rounded" id="modalRegistroUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @Html.Partial("Auth/_ModalRegistroUsuario")
        </div>
    </div>
</div>
