@if (ViewBag.PublicacionUsuario.Count > 0)
{
    
    <div class="detalle" style="overflow:scroll; max-height:800px;">
        @foreach (var item in ViewBag.PublicacionUsuario as IEnumerable<Model.Models.DetallePublicacion>
            )
        {
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12" id="card-3">
                    <div class="card shadow">
                        <div class="card-body">

                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="font-weight-bold text-uppercase mb-1">
                                        @item.FechaPublicacion
                                    </div>

                                </div>
                                <div class="col-auto">
                                    <p> @item.AutorPublicacion</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mr-2">
                                    @if (item.DiscapacidadPub == "1")
                                    {
                                        <span class="badge badge-info">Discapacidad</span>
                                    }
                                </div>
                                <div class="col-auto">
                                    @if (item.EstadoPublicacion == 1)
                                    {
                                        <span class="badge badge-success">Activa</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger">Inactiva</span>
                                    }
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Total votaciones: @item.ContadorVotos</p>
                                    <p>Promedio votaciones: @item.PromedioVotos</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
}
else
{
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="error-template">

                <div class="error-details">
                    <h4>   No se encontraron publicaciones.</h4>

                </div>

            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>

}
