
@{
    ViewBag.Title = "Mensajes";
    Layout = "~/Views/Shared/_HeaderMenu.cshtml";
}


<div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    <h4>Mis Mensajes</h4>
    @Html.Partial("Usuario/_Mensajes")
</div>