<div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    <div class="row">
        <div class="col-md-4 col-xl-4 col-sm-12 col-lg-4 border-right" id="ViewPublicacionesP">
            @Html.Partial("UsuarioEmpresa/_PublicacionPorTrabajador")
        </div>
        <div class="col-md-8 col-xl-8 col-sm-12 col-lg-8" id="ViewDetallePublicacionesP">
            @Html.Partial("UsuarioEmpresa/_DetallePublicacion")
        </div>
    </div>
</div>

<div id="ViewUltimosCandidatos" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin: 20px 0px 0px 20px;">
    @*@Html.Partial("UsuarioEmpresa/_CandidatosUltimosEmpresa")*@
</div>
