<div class="modal-header">
    <div class="d-block"><h3>Máximo de Publicación</h3></div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

</div>
<div class="modal-body">
    <div class="col-md-12">
        <h2><span></span>Ha superado el máximo de publicaciones.</h2>
        <p>
            ¡Para realizar más publicaciones cambiese a uno de los planes que se ofrecen¡.<br /><br />
            <a href="javascript:void(0);" data-dismiss="modal" id="PlanesEmpresaError" aria-hidden="true" class="close text-primary">Ver Planes</a>
        </p>
    </div>
</div>
