<div class="modal-header">
    <div class="d-block"><h3 class="text-primary">Iniciar Sesión</h3></div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

</div>
<div class="modal-body">
    <div id="contentLoginUE">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12" id="errorSignIn"></div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="md-form form-sm">
                        <i class="fas fa-user prefix" style="margin-top: 4px;"></i>
                        <input type="text" id="usernameUE" autocomplete="off" class="form-control">
                        <label for="usernameUE">Usuario (Correo o Rut)</label>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: -30px;">
                    <div class="md-form form-sm">
                        <i class="fas fa-key prefix" style="margin-top: 4px;"></i>
                        <input type="password" id="passwordUE" autocomplete="off" class="form-control">
                        <label for="passwordUE">Contraseña</label>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                    <button id="inicioSesionUsuarioEmpresa" class="btn btn-primary btn-block">Iniciar Sesión</button>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:5px;">
                    <p class="hint-text">

                    </p>
                </div>

            </div>
        </div>
    </div>
</div>


@*<div class="form-title text-center">
        <br />
    </div>
    <div class="d-flex flex-column text-center">

        <div class="form-group">
            <input type="text" class="form-control" id="username" autocomplete="off" placeholder="Ingrese su nombre de usuario">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" autocomplete="off" placeholder="Ingrese su contraseña">
        </div>
        <button type="button" id="inicioSesionEmpresa" class="btn btn-primary btn-block btn-round">Iniciar Sesión</button>

        <br />
        <p><a href="#">Olvide mi contraseña?</a></p>
        <hr />
    </div>
    <div class="modal-footer d-flex justify-content-center">
        <div class="signup-section">No estas registrado? <a href="@Url.Action("Registro","Empresa")" class="text-primary"> Registrarse</a>.</div>
    </div>*@
