<div class="row">
    <div class="col-md-12">
        <h4>Votación</h4>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.ContadorVotos != null && ViewBag.ContadorVotos != "")
        {
            <p>Total votaciones: @ViewBag.ContadorVotos</p>
            <p>Promedio votaciones: @ViewBag.PromedioVotos</p>
        }
        else
        {
            <p class="text-center"><h6>Aún no se han realizado votaciones para esta publicación</h6></p>
        }

    </div>

</div>
