<div class="row">
    <div class="col-md-12">
        <h4>Votación</h4>
    </div>

</div>
<div class="row">
    <div class="col-md-12">

        <input type="hidden" name="idPublicacion" value="@ViewBag.IdPublicacion" id="idPublicacion" />
        @if (Session["EmpresaID"] != null && ((string)Session["EmpresaID"]) != "")
        {
            <input type="hidden" name="idUsuario" value="@Session["EmpresaID"]" id="idUsuario" />
        }
        else if (Session["IdUsuario"] != null && ((string)Session["IdUsuario"]) != "")
        {
            <input type="hidden" name="idUsuario" value="@Session["IdUsuario"]" id="idUsuario" />
        }
        @if (ViewBag.VotoRealizado == null || ViewBag.VotoRealizado == "0")
        {
            <div class="row">
                <p><h6>Aún no se han realizado votaciones para esta publicación</h6></p>
            </div>
        }
        else
        {
            <div class="row">
                <p><h6>Su voto para esta publicación fue de: @ViewBag.VotoRealizado </h6></p>
            </div>
        }

    </div>

</div>
