<div class="col-md-12 col-lg-12">
    <h1 class="fs-30 ta-center dspl-block">Autentificando...</h1>
    <br />
    <ul class="loader loading">
        <li class="header-background"></li>
        <li class="header-background"></li>
        <li class="header-background"></li>
        <li class="header-background"></li>
        <li class="header-background"></li>
    </ul>
    <p class="fs-20 ta-center ml-auto mr-auto" style="width: 70%;">Espere un momento mientras autentificamos las credenciales de acceso para la plataforma, esto puede tomar un rato...</p>
</div>