<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <table class="table table-bordered table-fixed table-responsive-lg">
            <thead>
                <tr>
                    <td style="vertical-align:middle">
                        <h4>Filtros de búsqueda</h4>
                    </td>
                    <td style="vertical-align:middle;">
                        <div class="form-group">
                            <div class='input-group'>
                                <h4>Ordenamiento</h4>
                            </div>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radioOrdenamiento" id="exampleRadios1" value="nombreAsc" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Nombre (ascendente)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radioOrdenamiento" id="exampleRadios2" value="nombreDesc">
                            <label class="form-check-label" for="exampleRadios2">
                                Nombre (descendente)
                            </label>
                        </div>
                    </td>

                    <td style="vertical-align:middle;">
                        <div class="form-group">
                            <div class='input-group'>
                                <h4>Nombre publicación</h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class='input-group'>
                                <input type="text" class="form-control" name="name" id="NombrePublicacion" placeholder="Ingrese nombre" autocomplete="off" />
                            </div>
                        </div>
                    </td>

                    <td style="vertical-align:middle;"> <a href="javascript:void(0);" id="FiltroGatillo" class="btn btn-outline-primary btn-block p-2 shadow rounded-pill"><i class="fa fa-eye"></i> FILTRAR</a></td>

                    <td style="vertical-align:middle;">
                        <a href="javascript:void(0);" id="btnLimpiar" class="btn btn-outline-success btn-block p-2 shadow rounded-pill"><i class="fa fa-trash"></i> LIMPIAR</a>
                    </td>


                </tr>

            </thead>

        </table>
        <div class="form-group">
            <div>
                @using (Ajax.BeginForm("Principal", "Empresa", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "ViewPublicacionesP",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "loader"
                }, new { @style = "display: none;" }))
                {
                    <input type="hidden" name="NombrePublicacion" id="hiddenNombre" />
                    <input type="hidden" name="FechaPublicacion" id="hiddenFecha" />
                    <input type="hidden" name="Ordenamiento" id="hiddenOrdenamiento" />
                    <button type="submit" style="display:none" id="buscarFiltros" class="btn btn-outline-primary form-control"><i class="fa fa-eye"></i> FILTRAR</button>

                }
            </div>
        </div>

    </div>
</nav>
<hr />
