
@if (ViewBag.referenciaMensajes.Count > 0)
{
    <div class="row">
        <div class="col-md-9">
            <h3>Mensajes</h3>
        </div>
        <div class="col-md-3">

        </div>
    </div>
    <hr />
    <div class="row">
        @foreach (var item in ViewBag.referenciaMensajes as IEnumerable<Model.Models.MensajesEmpresa>
            )
        {
            <div class="col-md-4 col-xl-4 col-lg-4 col-xs-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">

                                <div class="font-weight-bold text-uppercase mb-1">
                                    <p>Fecha: @item.FechaMensaje</p>
                                </div>

                            </div>
                            <div class="col-auto">
                                <p class="font-weight-bold">Autor: @item.AutorMensaje</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mr-2">Mensaje: </div>

                        </div>
                        <div class="row">
                            <div class="col-auto">
                                @item.Mensaje
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-footer"><a href="@Url.Action("HistorialMensajes", "Empresa", new { idMensaje = item.idMensaje })" class="btn btn-outline-primary btnResponderMensaje">Responder</a></div>
                </div>

            </div>

        }
    </div>
    <br />
    <div class="row">
        <div class="col-md-9">
            <a href="javascript:void(0);">Ver más...</a>
        </div>
        <div class="col-md-3"></div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="error-template">

                <div class="error-details">
                    <h4>   No se encontraron mensajes.</h4>

                </div>

            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>

}

