<div class="modal-header">
    <div class="d-block"><h3>Planes</h3></div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

</div>
<div class="modal-body">
    @Html.Partial("Empresa/_Ofertas")
</div>