<div class="modal-header">
    <div class="d-block"><h3>Nueva Pregunta</h3></div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

</div>
<div class="modal-body">
   
            <div class="form-group">
                
                <input type="text" class="form-control" id="nombrePregunta" placeholder="Ingrese una pregunta" autocomplete="off" name="nombrePregunta" />
            </div>

            <br />
            <div class="form-group">
                <button type="button" class="btn btn-success btn-block btnGuardarPregunta">Guardar</button>
            </div>
  
</div>
