<div class="d-block text-center">
    <h3>¿Por qué elegirnos?</h3>
</div>
<hr />
<div class="card-deck col-md-12">
    <div class="card col-md-3">
        <div class="card-header" >
            <img src="~/Imagenes/Nosotros/PersonalSel.jpg" style="max-width:100%; max-height: 150px;" />
        </div>

        <div class="card-body">
            <h5 class="card-title">Personal</h5>
            <p class="card-text">Mayor integración de personas.</p>
        </div>
    </div>
    <div class="card col-md-3">
        <div class="card-header">
            <img src="~/Imagenes/Nosotros/NovedadesSel.png" style="max-width:100%; max-height: 150px;" />
        </div>
        <div class="card-body">
            <h5 class="card-title">Novedades</h5>
            <p class="card-text">Nuevos empleos y oficios.</p>
        </div>
    </div>
    <div class="card col-md-3">
        <div class="card-header">
            <img src="~/Imagenes/Nosotros/AccesoSel.jpg" style="max-width:100%; max-height: 150px;" />
        </div>
        <div class="card-body">
            <h5 class="card-title">Acceso</h5>
            <p class="card-text">Registro gratuito.</p>
        </div>
    </div>
    <div class="card col-md-3">
        <div class="card-header">
            <img src="~/Imagenes/Nosotros/Sobre ti.jpg" style="max-width:100%; max-height: 150px;" />
        </div>
        <div class="card-body">

            <h5 class="card-title">Sobre ti</h5>
            <p class="card-text">Completa tu perfil y date a conocer.</p>
        </div>
    </div>
</div>
<br />

