
<div class="row">

    <div class="col-11 col-sm-11 col-md-11 col-lg-10" style="margin-top:15px;">
        <h5>FORMULARIO DE REGISTRO</h5>
    </div>

    @using (Ajax.BeginForm("GuardarEmpresa", "Empresa", new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "mensajeRegistro",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loader"
    }, new { @style = "display: block;" }))
    {

        <div class="row form-row" style="margin-top: 15px;">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="margin: auto;">
                <div class="md-form form-sm">
                    <div class="input-group form-group">
                        <input type="text" name="rut" id="rut" class="form-control soloRut" autocomplete="off" maxlength="12" style="font-family: 'Roboto', sans-serif;" />
                        <label for="rut">Rut</label>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="margin: auto;">
                <div class="md-form form-sm">
                    <div class="input-group form-group">
                        <input type="text" name="rubro" id="rubro" class="form-control soloLetras" maxlength="40" autocomplete="off" style="font-family: 'Roboto', sans-serif;" />
                        <label for="rubro">Rubro</label>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="margin: auto;">
                <div class="md-form form-sm">
                    <div class="input-group form-group">
                        <input type="text" name="nombre" id="nombre" class="form-control soloLetras" maxlength="40" autocomplete="off" style="font-family: 'Roboto', sans-serif;" />
                        <label for="nombre">Nombre</label>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="margin: auto;">
                <div class="md-form form-sm">
                    <div class="input-group form-group">
                        <input type="text" name="razonsocial" id="razonsocial" class="form-control soloLetras" maxlength="40" autocomplete="off" style="font-family: 'Roboto', sans-serif;" />
                        <label for="razonsocial">Razon Social</label>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="margin: auto;">
                <div class="md-form form-sm">
                    <div class="input-group form-group">
                        <input type="text" name="correo" id="correo" class="form-control" autocomplete="off" maxlength="60" style="font-family: 'Roboto', sans-serif;" />
                        <span id="mailError" class="error-span"></span>
                        <label for="correo">Email</label>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="margin: auto;">
                <div class="md-form form-sm">
                    <div class="input-group form-group">
                        <input type="text" name="telefono" id="telefono" class="form-control" autocomplete="off" style="font-family: 'Roboto', sans-serif;"/>
                        <label for="telefono">Telefono</label>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="margin: auto;">
                <div class="md-form form-sm">
                    <select class="mdb-select md-form" name="comuna" id="comuna" searchable="Buscar comuna..">
                        <option value="" disabled selected>Seleccione una comuna</option>
                        <option value="1">Maipú</option>

                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="margin: auto;">
                <div class="md-form form-sm">
                    <div class="input-group form-group">
                        <input type="text" name="direccion" id="direccion" class="form-control" autocomplete="off" style="font-family: 'Roboto', sans-serif;" />
                        <label for="direccion">Direccion</label>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="margin: auto;">
                <div class="md-form form-sm">
                    <div class="input-group form-group">
                        <input type="password" name="clave" id="clave" class="form-control" autocomplete="off" style="font-family: 'Roboto', sans-serif;" />
                        <label for="clave">Clave</label>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="margin: auto;">
                <div class="md-form form-sm">
                    <div class="input-group form-group">
                        <input type="password" name="repetirclave" id="repetirclave" class="form-control" autocomplete="off" style="font-family: 'Roboto', sans-serif;"  />
                        <span id="repetirError" class="error-span"></span>
                        <label for="repetirclave">Repetir Clave</label>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:-15px; margin-bottom:15px;">
                <span>(*) Campos obligatorios para el registro</span>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 30px;">
                <button class="btn btn-primary guardarEmpresa">
                    <i class="fas fa-save" style="color: #fff;"> Registrar</i>
                </button>
                <input type="hidden" name="error" id="error" />
            </div>


        </div>
    }
</div>